a {
    text-decoration: none;
    color: black;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
}

a:hover {
    color: yellowgreen;
}
