@media screen and (max-width: 1000px) {
    .common-info {
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .construction-info {
        display: grid;
    }

    h1 {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 5px;
    }

    .img-responsive {
        margin-top: 1rem;
    }

    .description {
        margin-top: 6%;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.1rem;
        line-height: 120%;
        font-family: sans-serif;
        color: #303030;
    }

    .address {
        margin: 0;
    }

    .building-time {
        color: black;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 60px;
        letter-spacing: 5px;
    }
}
