<h2>Architecture map</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><img src="https://disk.yandex.ru/client/disk?source=landing2_unlim_ru&idApp=client&dialog=slider&idDialog=%2Fdisk%2F%D0%93%D0%BE%D1%80%D1%8B.jpg" alt="yy"></th>
      <th scope="col"><img src="https://disk.yandex.ru/i/r2tn9TT0Hhh4yQ" alt="yy"></th>
      <th scope="col"><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></th>
      <th scope="col"><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></th>
      <td><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></td>
      <td><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></td>
      <td><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></td>
    </tr>
    <tr>
      <th scope="row"><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></th>
      <td><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></td>
      <td><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></td>
      <td><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></td>
    </tr>
    <tr>
      <th scope="row"><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></th>
      <td colspan="2"><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></td>
      <td><img src="https://www.w3schools.com/images/picture.jpg" alt="yy"></td>
    </tr>
  </tbody>
</table>