.material-icons {
    font-family: 'Material Icons' !important;
}

::ng-deep.ngx-gallery-thumbnails .ngx-gallery-thumbnail {
    border: none !important;
}


.ngx-gallery {
    display: inline-block;
}

.common-info {
    margin-left: 2rem;
}


.content {
    padding-top: 8rem;
    margin-left: 16rem;
    margin-right: 16rem;
    height: 100vh;
}

.construction-info {
    display: flex;
}

.photo-carousel {
    margin-right: 8rem;
    text-align: center;
    width: 1120px;
    height: 100vh;
}

img {
    object-fit: cover;
    max-height: 60vh;
}

.masonry {
    column-count: 4;
}

.item {
    display: inline-block;
    margin-top: 0.8rem;
    width: 300px;
    height: 300px;
}

h1 {
    font-weight: 300;
    font-size: 38px;
    margin: 0px 0px 0px 0px;
    line-height: 120%;
    font-family: 'Open sans', sans-serif;
}


/* .foggin*/
/* .foggin { */
/* position: relative; */
/* width: 100%; */
/* display: inline-block; */
/* } */

/* .foggin:hover { */

/* } */

.foggin:after {
    content: '';
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
}

.foggin:before {
    content: '';
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.foggin:hover:before,
.foggin:hover:after {
    opacity: 1;
}

/* .foggin end*/