<div class="main">
  <div class="content">
    <div class="construction-info">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      <div class="common-info">
        <h1>{{construction.name}}</h1>
        <p>
          {{construction.address.region}}<br>
          {{construction.address.district}}<br>
          {{construction.address.locality}}<br>
          {{construction.address.street}}<br>
          {{construction.address.houseNumber}}<br>
        </p>
        <p>Час пабудавання: {{construction.buildingTime}}</p>
        <app-architectural-style-link [architecturalStyle]="construction.architecturalStyle" />
        <div *ngIf="construction.architects.length; then architects else noArchitects">
        </div>
        <ng-template #architects>
          <p>Архітэктары:</p>
          <div *ngFor="let architect of construction.architects">
            <app-architect-link [architect]="architect" />
          </div>
        </ng-template>
        <ng-template #noArchitects>
          <p>Архітэктары не вядомы</p>
        </ng-template>
      </div>
    </div>
    <p>{{construction.description}}</p>
    <app-similar-construction [architecturalStyleId]="construction.architecturalStyle.id" />
  </div>
</div>