<ngx-masonry>
    <article ngxMasonryItem class="masonry-item " *ngFor="let image of constructionImages">
        <a class="foggin" href="constructions/{{image.construction.id}}/{{image.id}}">
            <img src={{image.url}} />
            <p class="building-architect-style">{{image.construction.architecturalStyle.name}}</p>
            <p class="building-name">{{image.construction.name}}</p>
            <div class="building-address">
                <p class="region">{{image.construction.address.region}}</p>
                <p class="district">{{image.construction.address.district}}</p>
                <p class="locality">{{image.construction.address.locality}}</p>
            </div>
            <a class="source-link" href={{image.source.url}}>Крыніца здымку: {{image.source.name}}</a>
            <p class="author" *ngIf="image.author">Аўтар здымку: {{image.author}}</p>
        </a>
    </article>
</ngx-masonry>