.masonry-item {
	width: 32%;
	margin-top: 10px;
	margin-left: 10px;
}

.item {
	background-color: #eee;
	width: 100%;
}


/* .foggin*/
.foggin {
	position: relative;
	width: 100%;
}

.foggin:hover {
	display: block;
}

.foggin:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .7);
	opacity: 0;
}

.foggin:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.foggin:hover:before,
.foggin:hover:after {
	opacity: 1;
}
/* .foggin end*/

/* source-button */
.source-button {
	position: absolute;
	width: 90%;
	left: 6%;
	bottom: 2%;
	opacity: 0;
	z-index: 4000;
	text-align: left;
	text-decoration: none;
	color: #f8f8f8;
	font-family: "Gill Sans", sans-serif;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
	margin: 0 0 24px;
	/* transition: opacity .35s ease; */
	/* font-weight: 570; */
	/* background: white; */
	/* color: white; */
	/* border: 1px s white; */
	/* border-radius: 3rem; */
	/* text-transform: uppercase; */
}

.foggin:hover .source-button {
	opacity: 1;
}
/* source-button end*/

/* architectural-style */
.building-architect-style {
	position: absolute;
	width: 100%;
	left: 6%;
	top: 4%;
	opacity: 0;
	z-index: 4000;
	color: #f8f8f8;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 5px;
	line-height: 32px;
	margin: 0 0 24px;
	text-transform: uppercase;
}

.foggin:hover .building-architect-style {
	opacity: 1;
}
/* architectural-style end */

/* building-address */
.building-address {
	position: absolute;
	width: 90%;
	left: 6%;
	bottom: 20%;
	opacity: 0;
	z-index: 4000;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 1600;
	text-align: left;
	text-transform: uppercase;
}
.building-address p{
	margin: 0;
} 

.building-address span {
	font-size: 15px;
}

.foggin:hover .building-address {
	opacity: 1;
}
/* building-address end */

/* building-name */
.building-name {
	position: absolute;
	width: 90%;
	left: 6%;
	bottom: 40%;
	opacity: 0;
	z-index: 4000;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 1600;
	line-height: 35px;
	margin: 0 0 24px;
	text-align: left;
	text-transform: uppercase;
}

.building-name span {
	font-size: 15px;
}

.foggin:hover .building-name {
	opacity: 1;
}
/* building name end */
