<ngx-masonry>
    <div *ngFor="let construction of constructions">
        <div ngxMasonryItem class="masonry-item" *ngFor="let image of construction.images">
            <a href="constructions/{{construction.id}}" class="foggin">
                <img class="item" src={{image.url}}>
                <p class="building-architect-style">{{construction.architecturalStyle.name}}</p>
                <p class="building-name">{{construction.name}}</p>
                <div class="building-address">
                    <p>{{construction.address.region}}</p>
                    <p>{{construction.address.district}}</p>
                    <p>{{construction.address.locality}}</p>
                </div>
                <div class="source-button">Крыніца: {{image.source.name}}</div>
                <p>Аўтар: {{image.author}}</p>
            </a>
        </div>
    </div>
</ngx-masonry>
