.nav {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    background: #272727;
	width: 100%;
	/* position: center; */
	/* background-color: rgba(0, 0, 0, 0.6); */

	display: flex;
  align-items: center;
  padding-left: 16rem;
  height: 4rem;

}

.nav a {
	/* position: absolute;                */
   /* top: 50%;                          */
   /* transform: translate(0, -50%); */
	padding-right: 10vh;
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

.main {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.main:hover {
	background-color: rgba(0, 0, 0, 0.6);
}


/*common content*/
.content {
	margin-left: 16rem;
	margin-right: 16rem;
}

.masonry {
	column-count: 3;
}

.item {
	/* Masonry bricks or child elements */
	background-color: #eee;
	display: inline-block;
	margin-top: 0.8rem;
	width: 100%;
}

/*common content end*/



/* .foggin*/
.foggin {
	position: relative;
	width: 100%;
}

.foggin:hover {
	display: block;
}

.foggin:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
}

.foggin:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.foggin:hover:before,
.foggin:hover:after {
	opacity: 1;
}

/* .foggin end*/



/* source-button */
.source-button {
	position: absolute;
	width: 100%;
	left: 4%;
	bottom: 8%;
	opacity: 0;
	/* transition: opacity .35s ease; */
	z-index: 4000;
}

.source-button a {
	padding: 0.7rem 1rem;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: 800;
	text-align: center;
	background: white;
	color: black;
	border: 1px s white;
	border-radius: 3rem;
	z-index: 1;
}

.foggin:hover .source-button {
	opacity: 1;
}

/* source-button */