<main>

  <div class="background-image">
    <div class="background centrisity">
      <div class="title-container">
        <h1 class="text-white text-uppercase fw-bolt main-title">Belarus Architecture map</h1>
        <p class="text-white text-uppercase slogo">Глядзі, натхняйся, вандруй</p>
      </div>
    </div>
  </div>

  <div class="content">
    <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
      <div class="masonry">
        <ngx-masonry>
          <div ngxMasonryItem class="masonry-item" *ngFor="let image of constructionImages">
            <div>
              <a href="constructions/{{image.construction.id}}" class="foggin">
                <img class="item" src={{image.url}} />
                <p class="building-architect-style">{{image.construction.architecturalStyle.name}}</p>
                <p class="building-name">{{image.construction.name}}</p>
                <div class="building-address">
                  <p>{{image.construction.address.region}}</p>
                  <p>{{image.construction.address.district}}</p>
                  <p>{{image.construction.address.locality}}</p>
                </div>
                <!-- it is should  be link -->
                <div class="source-button">Крыніца: {{image.source.name}}</div>
                <p class="author" *ngIf="image.author">Аўтар: {{image.author}}</p>
              </a>
            </div>
          </div>
        </ngx-masonry>
      </div>
    </div>
  </div>

</main>