<main>

  <div class="background-image">
    <div class="background centrisity">
      <div class="title-container">
        <h1 class="text-white text-uppercase fw-bolt main-title">Belarus Architecture map</h1>
        <p class="text-white text-uppercase slogo">Глядзі, натхняйся, вандруй</p>
      </div>
    </div>
  </div>

  <div class="content">
    <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
      <div class="masonry">
        <app-construction-image-masonry [constructionImages]="constructionImages" />
      </div>
    </div>
  </div>

</main>