<div class="relative bg-image"
  style="background-image: url(https://storage.googleapis.com/architecture-map-photos/%D0%BD%D0%BE%D0%B2%D0%B0%D1%8F%20%D0%B1%D0%BE%D1%80%D0%BE%D0%B2%D0%B0%D1%8F%202.JPG); background-size: cover;">
  <div class="main">

    <div class="nav">
      <a href="/">На галоўную</a>
      <a href="/">Ссылкі</a>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <h1 class="text-white text-uppercase fw-bolt"><span>Belarus Architecture</span> map</h1>
      <p></p>
      <p class="text-white text-uppercase">Глядзі, натхняйся, вандруй</p>
      <!-- Стрелка вниз -->
      <!-- <svg class="arrow-bottom-3" viewBox="0 0 5 9"> -->
      <!-- <path d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z" /> -->
      <!-- </svg> -->
    </div>
  </div>
</div>


<div class="content">
  <div class="masonry">
    <div *ngFor="let photo of randomPhotos">
      <div>
        <a href="constructions/{{photo.constructionId}}" class="foggin">
          <img class="item" src={{photo.urlAddressToPhoto}} />
          <div class="source-button"><a href={{photo.source.url}}>Крыніца: {{photo.source.name}}</a></div>
        </a>
      </div>
    </div>
  </div>
</div>
