.main {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.main:hover {
	background-color: rgba(0, 0, 0, 0.6);
	/* padding: 200px; */
	/* margin-top: 200px; */
	/* height: 100vh; */
}


/* common*/
.content {
	margin-left: 16rem;
	margin-right: 16rem;
}

.masonry {
	/* Masonry container */
	column-count: 3;
	column-gap: 0.8rem;
}

.item {
	/* Masonry bricks or child elements */
	background-color: #eee;
	display: inline-block;
	margin: 0 0 0.8rem;
	width: 100%;
}
/*common end*/



/* a */
a {
	display: block;
	position: relative;
}

a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
}

a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

a:hover:before,
a:hover:after {
	opacity: 1;
}
/* a end*/