name: Deploy to EC2

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    
jobs:
  build:
    # using Ubuntu
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
      - uses: actions/cache@v3 # this allows for re-using node_modules caching, making builds a bit faster.
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
        
      - name: NPM Install
        run: npm install
      - name: NPM Install Angular
        run: npm install -g @angular/cli > /dev/null
      - name: NPM build Angular Production
        run: npm run ci:build
      - name: Test
        run: npm run ci:test
      - name: Deploy to EC2 instance
        uses: easingthemes/ssh-deploy@v2.1.5
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY}}
          SOURCE: "dist/architecture-map-frontend/"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST}}
          REMOTE_USER: ${{ secrets.REMOTE_USER}}
          TARGET: "/var/www/html/architecture-map-frontend/"
